<div class="nav-link">
  <button id="toggleReminders">Reminders</button>
</div>
<div id="reminderContent" style="display: none;">
        <% @current_user.reminders.each do |reminder| %>
          <p><%= reminder.message %></p>
                  <% end %>
</div>

<script>
  document.getElementById('toggleReminders').addEventListener('click', function() {
    var content = document.getElementById('reminderContent');
    content.style.display = (content.style.display === 'none') ? 'block' : 'none';
  });
</script>