
    <li class="logo-image">
      <%= link_to root_path do %>
        <%= image_tag('RecurrEx-logo.png', alt: 'Recurrex Logo', class: 'logo-image') %>
      <% end %>
    </li>
    <li><%= link_to 'Login' %></li>
    <li><%= link_to 'Signup', new_user_path %></li>
    <li class="dark-mode-toggle">
      <label class="switch">
        <input type="checkbox" id="dark-mode-toggle" />
        <span class="slider"></span>
      </label>
    </li>

