<!-- app/views/home/about_us.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <style>
    p {
        font-family: sans-serif;
        color: black;
        padding: inherit;
    }


    h3 {
        font-family: sans-serif;
        color: navy;
    }
  </style>
</head>

<body>
  <nav class="top-nav-bar">
    <!-- Your navigation bar content here -->
  </nav>

  <div class="container">
    <div class="about-section">
      <h2>Our Mission</h2>
      <p>
        At RecurrEx, our mission is to help you take control of your subscriptions and expenses.
        We provide a centralized platform for managing all your subscriptions, tracking payments,
        setting budgets, and receiving timely reminders.
      </p>
    </div>
    <div class="about-section">
      <p>
      Contat us
      </p>
    </div>
    <div class="about-section">
      <h2>Why Choose RecurrEx?</h2>
      <p>
        With RecurrEx, you can say goodbye to the chaos of managing multiple subscriptions
        across different services. Our user-friendly platform makes it easy to organize your
        subscriptions, monitor your spending, and avoid surprise charges.
      </p>
    </div>

   </div>
  </div>

  <!--  footer here -->
</body>
</html>
