<!-- app/views/home/about_us.html.erb -->

<!DOCTYPE html>
<html>
    <head>
        <!-- Your head content here -->
    </head>
    <style>
    .about-section {
        padding-top: 50px;
    }
    h5 {
        padding-left: 20px;
    }

    p {
        font-family: sans-serif;
        color: black;
        padding: inherit;
    }

    </style>
    <body>
        <div class="about-section">
        <h1>Contact Us</h1>
        <p>
        If you have any questions or feedback, feel free to reach out to us at <a href="mailto:vickydjohn@gmail.com">vickydjohn@gmail.com</a> or <a href="mailto:ofemiowolabi@gmail.com">ofemiowolabi@gmail.com</a>. We'd love to hear
        from you!
        </p>
        </div>
    </body>
</html>