<!DOCTYPE html>
<html>
  <head>
      <nav class="top-nav-bar">
        <%= link_to(root_path) do %>
          <%= image_tag('RecurrEx-logo.png', alt: 'Recurrex Logo', class: 'logo-image') %>
        <% end %>
        
        <div class="top-nav-links">
              <%= link_to 'Login', login_path, class: 'btn btn-outline-primary accent-color', style: 'background-color: amber;', onmouseover: 'this.style.backgroundColor = "purple"', onmouseout: 'this.style.backgroundColor = "grey";' %>
              <%= link_to 'Signup', '/signup', class: 'btn btn-outline-primary accent-color', style: 'background-color: amber;', onmouseover: 'this.style.backgroundColor = "green"', onmouseout: 'this.style.backgroundColor = "gold";' %>
        </div>
      </nav>
  </head>

  <body>
      <section class="title">
        <h1>Welcome to RecurrEx</h1>
        <h3>We manage your subscriptions with precision</h3>
      </section>
      <div class="slideshow-container" style="background-image: url('/assets/coins.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
        <div class="slide-card">
          <h2>Centralized Subscription Management</h2>
              <h4>Consolidate all your subscriptions in one place for easy access and organization.</h4>
        </div>
        <div class="slide-card">
          <h2>Customised Reminders</h2>
              <h4>Get notified via email when your subscription is about to get renewed.</h4>
        </div>

        <div class="slide-card">
          <h2>Monthly and Weekly Budgeting</h2>
            <h4>Set and manage your subscription budgets to control your spending effectively.</h4>
        </div>

        <div class="slide-card">
          <h2>Transaction History</h2>
              <h4>Track payments, view cost changes, and monitor spending patterns with ease.</h4>
        </div>

        <!-- Add more slides for other features here -->

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <script>
        
        let slideIndex = 1; // Initialize the slide index

// Function to show the next or previous slide
function plusSlides(n) {
  showSlide(slideIndex += n);
}

// Function to show a specific slide
function currentSlide(n) {
  showSlide(slideIndex = n);
}

// Function to display a specific slide
function showSlide(n) {
  let slides = document.getElementsByClassName("slide-card");
  if (n > slides.length) {
    slideIndex = 1;
  }
  if (n < 1) {
    slideIndex = slides.length;
  }
  for (let i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slides[slideIndex - 1].style.display = "block";
}

// Automatically advance to the next slide 
function autoAdvance() {
  plusSlides(1);
}

showSlide(1);

// Set a timer to auto-advance the slides
setInterval(autoAdvance, 5000); 

        </script>
    </div>
  </body>
</html>