<!DOCTYPE html>
<html>
  <head>
      <nav class="top-nav-bar">
        <%= link_to(root_path) do %>
          <%= image_tag('RecurrEx-logo.png', alt: 'Recurrex Logo', class: 'logo-image') %>
        <% end %>
        
        <div class="top-nav-links">
              <%= link_to 'Login', login_path %>
              <%= link_to 'Signup', new_user_path %>
            <label class="switch">
              <input type="checkbox" id="dark-mode-toggle" />
              <span class="slider"></span>
            </label>
        </div>
      </nav>
  </head>

  <body>
      <section class="title">
        <h1>Welcome to RecurrEx</h1>
        <h3>We manage your subscriptions with precision</h3>
      </section>
    <div class="slideshow-container">
        <div class="slide-card">
          <h2>Centralized Subscription Management</h2>
              <p>Consolidate all your subscriptions in one place for easy access and organization.</p>
        </div>
        <div class="slide-card">
          <h2>Customised Reminders</h2>
              <p>Get notified via email when your subscription is about to get renewed.</p>
        </div>

        <div class="slide-card">
          <h2>Monthly and Weekly Budgeting</h2>
            <p>Set and manage your subscription budgets to control your spending effectively.</p>
        </div>

        <div class="slide-card">
          <h2>Transaction History</h2>
              <p>Track payments, view cost changes, and monitor spending patterns with ease.</p>
        </div>

        <!-- Add more slides for other features here -->

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <script>
        
        let slideIndex = 1; // Initialize the slide index

// Function to show the next or previous slide
function plusSlides(n) {
  showSlide(slideIndex += n);
}

// Function to show a specific slide
function currentSlide(n) {
  showSlide(slideIndex = n);
}

// Function to display a specific slide
function showSlide(n) {
  let slides = document.getElementsByClassName("slide-card");
  if (n > slides.length) {
    slideIndex = 1;
  }
  if (n < 1) {
    slideIndex = slides.length;
  }
  for (let i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slides[slideIndex - 1].style.display = "block";
}

// Automatically advance to the next slide 
function autoAdvance() {
  plusSlides(1);
}

// Set a timer to auto-advance the slides
setInterval(autoAdvance, 5000); 

        </script>
    </div>
  </body>
</html>
