<!DOCTYPE html>
<html>
    <head>
        <style>
            .team-members {
            display: flex;
            justify-content: space-between;
            }

            .team-member {
            width: calc(50% - 10px); 
            padding: 10px;
            text-align: center;
            }

            .team-member img {
            max-width: 100%;
            border-radius: 50%;
            }

            p {
                font-family: sans-serif;
                color: black;
                padding: inherit;
            }
            

            h3 {
                font-family: sans-serif;
                color: navy;
            }

            .footer {
                background: white;
            }
        </style>
    </head>
    <body>
        <div class="team-members">
            <div class="team-member">
            <img src="/assets/Vicky.png" alt="Team Member 1" width="200" height="220">
            <h3>Vicky John</h3>
            <h5>Co Founder</h5>
            <p>Born and raised in Bangalore, India, Vicky was immersed in the world of technology from an early age. As a dynamic professional with expertise in operations management, he excels at enhancing processes in startups and thrives in challenging environments. Vicky seamlessly blends his skills in process improvement and operations management with web development, allowing him to create technology solutions that are both efficient and functional. </p>
            </div>

            <div class="team-member">
            <img src="/assets/Femi.jpg" alt="Team Member 2" width="200" height="220">
            <h3>Femi Owolabi</h3>
            <h5>Co Founder</h5>
            <p>Femi a versatile professional with a strong dedication to finding innovative solutions. His extensive experience spans various industries, including aviation, banking, financial markets, manufacturing and human services. His expertise covers a wide spectrum, including human resources administration, learning and development, instructional design, and performance management. He is known for his optimistic outlook and adaptability, always ready to embrace new challenges.

            Furthermore, he has a keen interest in leveraging technology to create solutions that enhance the quality of life. His passion lies in developing technological innovations aimed at improving various aspects of daily living.</p>
            </div>
        </div>
    </body>
</html>
