<h1>Current Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Frequency</th>
      <th>Renewal Date</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.name %></td>
        <td><%= subscription.cost %></td>
        <td><%= subscription.frequency %></td>
        <td><%= subscription.renewal_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
