/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Define the styles for the alert-danger class */
.alert-danger {
    background-color: #f8d7da; /* Background color for error messages */
    border: 1px solid #f5c2c7; /* Border color for error messages */
    color: #721c24; /* Text color for error messages */
    padding: 10px; /* Padding around the error message content */
    border-radius: 4px; /* Rounded corners for the alert box */
    margin: 10px 0; /* Margin to separate multiple alert boxes */
  }
  
  /* Style the text inside the alert box */
  .alert-danger p {
    margin: 0; /* Remove any default margin */
  }
  
  /* You can further customize the styles as needed for your application */
  
    /* Media query for screens smaller than 768px (e.g., mobile devices) */
    @media (max-width: 768px) {
      /* Adjust styles for smaller screens here */
      h1 {
        font-size: 20px; /* Decrease font size for smaller screens */
      }
    
      p {
        font-size: 10px; /* Decrease font size for smaller screens */
      }
    }

    /* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  padding: 70px;
}

/* Slide card design */
.slide-card {
  display: none;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: cursive;
  background-color: aliceblue;
}

/* Previous and next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #b49f64;
  font-weight: bold;
  font-size: 20px;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}
