/* CSS for dark mode */
.dark-mode {
  background-color: #000;
  color: #fff;
}

/* Style for the dark mode toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b49f64; /* Gold or Amber */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  content: '';
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 50%;
}

/* Dark mode style */
#dark-mode-toggle:checked + .slider {
  background-color: #001f3f; /* Navy Blue */
}

#dark-mode-toggle:checked + .slider:before {
  transform: translateX(25px);
}
