/* Style for text fields and labels */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 40%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 2px solid #001f3f;
  border-radius: 0.50rem;
}

/* Style for the Submit button */
.btn-primary {
  background-color: #001f3f; /* Navy Blue */
  color: #FFFFFF; /* White text on navy blue */
  font-size: 1.1rem;
}

/* Style for the button border */
.btn-primary.border {
  border-color: #001f3f; /* Navy Blue border */
}
