.form-popular {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.subscription-form {
  width: 90%;
}

.form-label {
  font-size: large;
}

.popular-subscriptions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
  width: 60%;
}

.custom {
  height: 60px;
}

.heading {
  display: flex;
  justify-content: center;
}

.images-links {
  margin-right: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.table-group-divider {
  margin-top: 10%;
}