@import 'application.scss';

.form-popular {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.new-subscription-form {
  width: 90%;
}

.form-label {
  font-size: large;
}

.popular-subscriptions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 5%;
  width: 100%;
}

.custom {
  height: 40px;
}

.heading {
  color: #001f3f;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px  rgb(157, 171, 236)
}

.flash {
  justify-content: center;
  padding: 15px;
  margin-left: 350px;
  width: 45%;
}

.images-links {
  margin-right: 5%;
}

.container {
  margin-top: 2%;
  flex-grow: 1;
  padding-bottom: 60px;
}

.table-group-divider {
  margin-top: 10%;
}

.form-group {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28%;
}

.edit-actions {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.add-form {
  margin-left: 28%;
}

.table-header, .table-body {
  text-align: center;
}
