.top-nav-bar {
    background-color: white;
    color: #001f3f;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 0px 25px; /* Add padding on both sides */
    width: 100%; /* Make the background width 100% *
  }

  /* Style for the logo image */
.logo-image {
    max-width: 100px;
    height: 78px;
    
  }
  
  .title {
    font-family: sans-serif;
    color: #001f3f;
    margin: 20px;
}


/* Style for the navigation links */
.top-nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 0px 40px; /* Add padding on both sides */
  }
  
  /* Style for the navigation links (font color) */
  .top-nav-links a {
    text-decoration: none;
    color: #001f3f; /* Set the font color to Navy Blue */
    font-family: sans-serif;
    font-size: 24px;
    
  }

  /* Style for the dark mode toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b49f64; /* Gold or Amber */
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    content: '';
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(168, 0, 0);
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Dark mode style */
  #dark-mode-toggle:checked + .slider {
    background-color: #001f3f; /* Navy Blue */
  }
  
  #dark-mode-toggle:checked + .slider:before {
    transform: translateX(25px);
  }
  
  /* Add more styling as needed */

  /* Media query for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    h1 {
        font-size: 15px; /* Decrease font size for smaller screens */
    }

    p {
        font-size: 10px; /* Decrease font size for smaller screens */
    }
}

/* Media query for screens larger than 768px (e.g., tablets and desktops) */
@media (min-width: 769px) {
    /* Adjust styles for larger screens here */
    h1 {
        font-size: 20px; /* Increase font size for larger screens */
    }

    p {
        font-size: 5px; /* Increase font size for larger screens */
    }
}
}