.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent; /* Set the background color to transparent */
    color: #001f3f; /* Set the font color to Navy Blue */
    height: 60px;
  }

  /* Style for the logo image */
.logo-image {
    max-width: 100px;
    height: 100px;;
  }
  
/* Style for the navigation links */
.top-nav-links {
    display: flex;
    gap: 40px;
  }
  
  /* Style for the navigation links (font color) */
  .top-nav-links a {
    text-decoration: none;
    color: #001f3f; /* Set the font color to Navy Blue */
    font-size: 24px;
  }

  /* Style for the dark mode toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFD700; /* Gold or Amber */
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    content: '';
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Dark mode style */
  #dark-mode-toggle:checked + .slider {
    background-color: #001f3f; /* Navy Blue */
  }
  
  #dark-mode-toggle:checked + .slider:before {
    transform: translateX(25px);
  }
  
  /* Add more styling as needed */