/* Navigation Links */
  .nav-link {
    margin-right: 20px;
  }
  
  .container {
    font-family: sans-serif;
    margin: 5px;
  }
  
  /* User Info and Logout Link */
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-greeting {
    font-weight: bold;
  }
  
  .logout-link {
    color: #FFD700;
    margin-left: 10px;
    text-decoration: none;
  }
  
  /* Content Styles */
  .content {
    background-color: #F8F8F8;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #001f3f;
    margin: 1.0rem;
  }
  
  
  h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #001f3f;
    margin: 1.0rem;
  }
  
  
  h3 {
    font-family: sans-serif;
    font-size: 20px;
    color: #001f3f;
    margin: 1.0rem;
  }
  
  p {
    font-family: sans-serif;
    font-size: 20px;
    color: #001f3f;
    margin: 1.5rem;
  }
  
  hr {
    border: 0;
    height: 3px;
    background: #001f3f; /* Change the color as needed */
    margin: 3px 0; /* Adjust the margin as needed */
  }

  /* Subscription and Message Images */
  .message-image {
    margin-top: 20px;
  }
  
  /* Media query for screens smaller than 768px (e.g., mobile devices) */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    h1 {
      font-size: 28px; /* Decrease font size for smaller screens */
    }
  
    p {
      font-size: 16px; /* Decrease font size for smaller screens */
    }
  }
  