/* Style for text fields and labels */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .form-label {
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .form-control {
    width: 320px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: 2px solid #001f3f;
    border-radius: 0.50rem;
  }

  
  .subscription-form {
    display: flex;
    flex-direction: column;
  }
  
  .popular-subscriptions {
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  
  /* Style for the Submit button */
  .btn-primary {
    background-color: #001f3f; /* Navy Blue */
    color: #FFFFFF; /* White text on navy blue */
    font-size: 1.5rem;
  }
  
  /* Style for the button border */
  .btn-primary.border {
    border-color: #001f3f; /* Navy Blue border */
  }
  
  /* Navigation Links */
  .nav-link {
    margin-right: 20px;
  }
  
  .container {
    font-family: sans-serif;
    margin: 20px;
  }
  
  /* User Info and Logout Link */
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-greeting {
    font-weight: bold;
  }
  
  .logout-link {
    color: #FFD700;
    margin-left: 10px;
    text-decoration: none;
  }
  
  /* Content Styles */
  .content {
    background-color: #F8F8F8;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #001f3f;
  }
  
  p {
    font-family: sans-serif;
    font-size: 20px;
    color: #001f3f;
  }
  
  hr {
    border: 0;
    height: 3px;
    background: #001f3f; /* Change the color as needed */
    margin: 3px 0; /* Adjust the margin as needed */
  }

  /* Subscription and Message Images */
  .subscription-image,
  .message-image {
    margin-top: 20px;
  }
  
  /* Media query for screens smaller than 768px (e.g., mobile devices) */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    h1 {
      font-size: 28px; /* Decrease font size for smaller screens */
    }
  
    p {
      font-size: 16px; /* Decrease font size for smaller screens */
    }
  }
  